.form{
    display: flex;
    flex-direction: column;
}
.form label{
    margin-bottom: 6px;
}
.form input{
    margin-bottom: 15px;
    padding: 0 8px;
    height: 30px;
    font-size: 16px;
}
.form input:focus{
    outline-color: rgb(18, 153, 226);
}
.form-container{
    padding: 20px;
    min-width: 400px;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: white;
    /* box-shadow: 2px 2px 2px 2px gray; */
}
.form-container h2{
    text-align: center;
    margin-bottom: 10px;
}
.register-btn, .login-btn{
    height: 30px;
    font-size: 16px;
    margin-block: 10px;
    background-color: rgb(13, 144, 13);
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-out;
}
.register-btn:hover, .login-btn:hover{
    background-color: rgb(11, 105, 11);
}
.form-container p{
    text-align: center;
}

@media screen and (max-width:500px) {
.form-container{
    min-width: 320px;
}
}